<div class="container center">
    <div class="card">
      <h2>{{movie.Title}}</h2>
      <hr/>
      <ul>
        <li>Actors: {{movie.Actors}}</li>
        <li>Awards: {{movie.Awards}}</li>
        <li>BoxOffice: {{movie.BoxOffice}}</li>
        <li>Country: {{movie.Country}}</li>
        <li>DVD: {{movie.DVD}}</li>
        <li>Genre: {{movie.Genre}}</li>
        <li>Language: {{movie.Language}}</li>
        <li>Metascore: {{movie.Metascore}}</li>
        <li>Released: {{movie.Released}}</li>
        <li>Writer: {{movie.Writer}}</li>
        <li>Year: {{movie.Year}}</li>
        <li>imdbRating: {{movie.imdbRating}}</li>
        <li>Rated: {{movie.Rated}}</li>
        <li>Production: {{movie.Production}}</li>
        <li>Plot: {{movie.Plot}}</li>
      </ul>

    </div>
  </div>